/* основной цвет текста #212121 */

/* цвет 2 для серого #757575 */

/* цвет для веб #2196F3 */

/* цвет снизу ссылок gba(255, 255, 255, 0.6); */

/* вторичный бекграунд  #F5F4FA*/ 


page{
background-color: #FFFFFF;
color: #212121;
}

.list{
list-style: none;
}

h2,
h3,
h4,
h5,
h6{
color: #212121;
}

span{
color: #2196F3;
}
.studio{
color: #212121;
}

.studiotwo{
color: #FFFFFF;
}

/* site nav and info */

.site-nav a{
color: #212121;    
}

.meil a{
color: #757575;
}
.telefon a{
color: #757575;
}

.site-nav .link:hover,
.site-nav .link:focus {
color: #2196F3;
}

.site-nav .link.current{
color: #2196F3;
}

.meilstyle:hover,
.meilstyle:focus {
color: #2196F3;
}

.telefonstyle:hover,
.telefonstyle:focus {
color: #2196F3;
}

/* Hero */
.hero{
background-color: #2F303A;
}
.hero-title{
color: #FFFFFF;
}

.hero.button{
color: #FFFFFF;
background-color: #2196F3;
}

/* Main page */

.features p{
color: #757575;
}

.team{
background-color: #F5F4FA;
}

.comand p{
color: #757575;
}

/*Portfolio css */

/*buttons*/
.buttons .links:hover,
.buttons .links:focus{
color: #FFFFFF;
background-color: #2196F3;
}

/*footer для портфолио и индекс*/
.adress a{
color: #FFFFFF;
}

.side-color{
background-color: #2F303A;
}

.images p{
color: #757575;
}
.images h3{
color: #212121;
}




