/* основной цвет текста #212121 */

/* цвет 2 для серого #757575 */

/* цвет для веб #2196F3 */

/* цвет снизу ссылок gba(255, 255, 255, 0.6); */

/* вторичный бекграунд  #F5F4FA*/ 


body{
background-color: #FFFFFF;
color: #212121;
font-family: Roboto,sans-serif;
}

span{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
}

.studio{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
   
}

.studiotwo{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
}

.list{
list-style: none;
}

h2,
h3,
h4,
h5,
h6{
color: #212121;
}

span{
color: #2196F3;
}
.studio{
color: #212121;
}

.studiotwo{
color: #FFFFFF;
}

/* site nav and info */

.site-nav a{
color: #212121;  
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;  
}

.meil a{
color: #757575;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
.telefon a{
color: #757575;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
color: #2196F3;
}

.site-nav .link.current{
color: #2196F3;
}

.meilstyle:hover,
.meilstyle:focus {
color: #2196F3;
}

.telefonstyle:hover,
.telefonstyle:focus {
color: #2196F3;
}

/* Hero */
.hero{
background-color: #2F303A;
}
.hero-title{
color: #FFFFFF;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.hero.button{
color: #FFFFFF;
background-color: #2196F3;
font-family: inherit;
}

/* Main page */

.hiden{
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}

.features p{
color: #757575;
}


.features-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team{
background-color: #F5F4FA;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.comand p{
color: #757575;
}

.comand-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.comand-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}


/*Portfolio css */

/*buttons*/
.buttons .links:hover,
.buttons .links:focus{
color: #FFFFFF;
background-color: #2196F3;
}

/*footer для портфолио и индекс*/
.adress a{
color: #FFFFFF;
}

.side-color{
background-color: #2F303A;
}

.images p{
color: #757575;
}
.images h3{
color: #212121;
}




