/* основной цвет текста #212121 */

/* цвет 2 для серого #757575 */

/* цвет для веб #2196F3 */

/* цвет снизу ссылок gba(255, 255, 255, 0.6); */

/* вторичный бекграунд  #F5F4FA*/ 


body{
background-color: #FFFFFF;
color: #212121;
font-family: Roboto,sans-serif;
}

span{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
}

.studio{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
   
}

.studiotwo{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
}

.list{
list-style: none;
}

h2,
h3,
h4,
h5,
h6{
color: #212121;
}

span{
color: #2196F3;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}
.studio{
font-family: 'Raleway';
font-style: normal;
color: #212121;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.studiotwo{
color: #FFFFFF;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

/* site nav and info */

.site-nav a{
font-family: 'Roboto';
font-style: normal;
color: #212121;  
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;  
}

.meil a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:#757575;
}
.telefon a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:#757575;
}

.site-nav .link:hover,
.site-nav .link:focus {
color: #2196F3;
}

.site-nav .link.current{
color: #2196F3;
}

.meilstyle:hover,
.meilstyle:focus {
color: #2196F3;
}

.telefonstyle:hover,
.telefonstyle:focus {
color: #2196F3;
}

.links{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.current-now{
color: #FFFFFF;
background-color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}



/* Hero */
.hero{
background-color: #2F303A;
}
.hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.hero.button{
color: #FFFFFF;
background-color: #2196F3;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
}

/* Main page */

.hiden{
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}

.features p{
color: #757575;
}


.features-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.features-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.work-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.team{
background-color: #F5F4FA;
}

.team-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.comand p{
color: #757575;
}

.comand-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.comand-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}


/*Portfolio css */

/*buttons*/
.buttons .links:hover,
.buttons .links:focus{
color: #FFFFFF;
background-color: #2196F3;
}

.images-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
     letter-spacing: 0.06em;
    color: #212121;
}

.images-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
}



/*footer для портфолио и индекс*/
.adress a{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.side-color{
background-color: #2F303A;
}

.images p{
color: #757575;
}
.images h3{
color: #212121;
}




